{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>GoodHands</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<header>
    <nav class="container container--70">
        <ul class="nav--actions">
            <li><a href="#">Zaloguj</a></li>
            <li class="highlighted"><a href="#">Załóż konto</a></li>
        </ul>

        <ul>
            <li><a href="{% url 'main_page' %}" class="btn btn--without-border active">Start</a></li>
            <li><a href="{% url 'main_page' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a href="{% url 'main_page' %}#about-us" class="btn btn--without-border">O nas</a></li>
            <li><a href="{% url 'main_page' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            <li><a href="{% url 'main_page' %}#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
    </nav>
</header>
{% block check_in_form %}
{% endblock %}
{% include 'contact_form.html' %}
</body>
</html>
